{% extends 'student/student_base.html' %}
{% load staticfiles %}


{% block header_extends %} 
    <link rel="stylesheet" href = "{% static 'lib/jquery.raty.css'%}">
    <script type="text/javascript" src="{% static 'lib/jquery.raty.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/myStart.js' %}"></script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
    <p>{{ semester }}</p>
    <p>{{ teacher }}</p>
    <p>{{ course }}</p>
    <p id = "showit" class="showit">选择的分数是多少</p>
    <form action="{% url 'insert_evaluation' %}" method="POST">
    {% csrf_token %}
        <table class="table">
        {% for i in i %}
            <tr>
                <td><p>{{ forloop.counter }}{{i.name}}</p></td>
                <td>{{i.content}}</td>
                <td><div class="star" id="{{i.pk}}"></div></td>
                <td><p id="p_{{i.pk}}">1分</p></td>
            </tr>
        {% endfor %}
    </table>
    <input type="hidden" value="{{ semester }}" name="semester">
    <input type="hidden" value="{{ teacher }}" name="teacher">
    <input type="hidden" value="{{ course }}" name="course">
    <button type="submit">goo</button>
    </form>

    </div>
</div>




    <script type="text/javascript">
        var onimage ="{% static 'lib/images/star-on.png' %}";
        var offimage = "{% static 'lib/images/star-off.png' %}";
        //网页文件下载完成后进行js执行
        $(document).ready(function(){
            //找到class 为star 的标签，并且循环生成星星
            $('.star').each(function(){
                // var score_changepk = $(this).attr("id");
                //alert(score_changepk);
                //使用myStart.js文件中的createMyStar函数生成星星文件
                $(this).createMyStar(onimage,offimage);
            });
        });

    </script>
    
{% endblock %}