{% extends 'teacherbase.html' %}
{% load staticfiles %}
<!-- {% load render_table from django_tables2 %} -->

{% block content %}


{{ task }}
    <table>
        <th colspan="6"><h3>fffffff</h3></th>
        {% for s in scores %}
            <tr>
                <!-- <td> {{forloop.counter}}</td> -->
            {% for i in s %}
                <td>{{i.student.student_num}}</td>
                <td>{{i.student.nick_name}}</td>
                <td>{{i.score}}</td>
                <td></td>
            {% endfor %}
            </tr>
        {% endfor %}
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td rowspan="31"> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
    </table>




{% endblock %}