{% extends 'teacherbase.html' %}
{% load staticfiles %}
<!-- {% load render_table from django_tables2 %} -->

{% block content %}

{{ scores_num }}
{{ task }}
    <div class="table">
            <div class="col-md-10 col-md-offset-2">
                <table class="mytable">
                    <tr><th colspan="6" width = "100%"><h3>{{ task.semester }}</h3></th></tr>
                    <tr >
                        <td class = "mytd">学号</td>
                        <td class = "mytd">姓名</td>
                        <td class = "mytd">分数</td>
                        <td class = "mytd">备注</td>
                        <td rowspan="31" class="mytd"> </td>
                        <td class = "mytd">学号</td>
                        <td class = "mytd">姓名</td>
                        <td class = "mytd">分数</td>
                        <td class = "mytd">备注</td>
                    </tr>
                    {% for s in scores %}
                        <tr class="mytd">
                            <!-- <td> {{forloop.counter}}</td> -->
                        {% for i in s %}
                            {% if forloop.counter == 1%}
                            <td class="mytd">{{i.student.student_num}}</td>
                            <td class="mytd">{{i.student.nick_name}}</td>
                            <td class="mytd">{{i.score}}</td>
                            <td class="mytd"></td>
                            {% else %}
                            <td class="mytd">{{i.student.student_num}}</td>
                            <td class="mytd">{{i.student.nick_name}}</td>
                            <td class="mytd">{{i.score}}</td>
                            <td class="mytd"></td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    
                </table>
            </div>
    </div>




{% endblock %}