{% extends 'teacherbase.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">


    <form action="" method="post">
        <table class="table">
        <tr>
            <th></th>
            <th><h5>课程</h5></th>
            <th><h5>学年</h5></th>
            <th><h5>班级</h5></th>
            <th><h5>现在任课教师</h5></th>
            <th><h5>新任课教师所在教研室</h5></th>
            <th><h5>新任课教师</h5></th>
        </tr>
        {% csrf_token %}
        {{ iscore.management_form }}
            {% for register_form in iscore %}
                <tr>
                    {% for field in register_form %}
                    <td>
                    {{ field }}<p class="text-danger">{{ field.errors.as_text }}</p>
                    </td>
                    {% endfor %}
                    <span class="pull-left text-danger">{{ register_form.non_field_errors }}</span>
                </tr>
            {% endfor %}
        </table>
            <input type="submit" value="goo" class="btn btn-info pull-right">
    </form>


</div>
</div>
    <script type="text/javascript">
        // 使用js的方法对教师进行筛选
        function testajax(ths){
            var belong = $(ths).val();
            $.ajax({
                type:'GET',
                url:"{% url 'groupteacher' %}?belong=" + belong,
                dataType:'json',
                success:function(data){
                    console.log(data);
                    var html = "";
                    for (var i=0;i<data['teachers'].length;i++){
                        var iteam = data['teachers'][i][1];
                        var id = data['teachers'][i][0];
                        html += "<option value="+id+">"+iteam+"</option>";
                    }
                    // $("#id_form-0-aselect").html(html);
                    //id_form-0-teacher
                    //document.write( ths.id );
                    newid = ths.id.replace(/teacher/,"aselect");
                    //document.write( newid );
                    $("#"+newid).html(html);
                }
            })
        }
    </script>
{% endblock %}