{% extends 'teacherbase.html' %}
{% load staticfiles %}
{% block title %}
我的网站|注册
{% endblock %}

{% block header_extends %}
    <link rel = "stylesheet" href ="{% static 'home.css' %}">
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
{{ message }}
    <div class="containter">
        <div class="row">
            <div class="col-xs-3 col-xs-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            注册
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="post">
                        {% csrf_token %}
                        <!-- {{register_form}} -->
                        {% for field in register_form %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <p class="text-danger">{{ field.errors.as_text }}</p>
                        {% endfor %}
                        <span class="pull-left text-danger">{{ register_form.non_field_errors}}</span>
                        <input type="submit" class = "btn btn-primary btn-sm pull-right" value="goo">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}