{% extends 'teacherbase.html' %}
{% load staticfiles %}


{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">班级名称：{{ classes }}</h3>
        <h4 class="bg-danger text-center" >教学任务：{{ task }}</h4>
        <!-- {{ taskpk }} -->
        <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th></th><th></th><th>学号</th><th>姓名</th><th>分数</th>
                    </tr>
        <form action="" method="POST">
            {% csrf_token %}
            {{ iscore.management_form }}
            {% for register_form in iscore %}
            <tr>
                {% for field in register_form %}
                    <!-- <label for="{{ field.id_for_label }}">{{ field.label }}</label> -->
                    <td>
                    {{ field }}<p class="text-danger">{{ field.errors.as_text }}</p>
                    </td>
                {% endfor %}
                    <span class="pull-left text-danger">{{ register_form.non_field_errors }}</span>
            </tr>
            {% endfor %}
            </table>
            </div>
            <input type="hidden" name="is_input_score" value="{{ classes }}">
            <input type="hidden" name="classes" value="{{ classes }}">
            <input type="hidden" name="task" value="{{ task }}">
            <input type="hidden" name="taskpk" value="{{ taskpk }}">
            <input type="submit" value="提交" class="btn btn-info pull-right">
        </form>
    </div>
</div>
{% endblock %}