* {
    margin: 0%;
    padding: 0;
}
div.nav {
    background-color:#eee;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
}
div.nav a {
    text-decoration: none;
    color:black;
}
div.nav a.logo {
    display: inline-block;
    font-size: 120%;
}
body {

    margin-top:50px!important;
}

    div.A4 {          
        page-break-before: auto;          
        page-break-after: always;  
    }  

table.mytable td.mytd{
    border: 1px solid black;
    text-align: center;
    height: 20px;
}

td.one{
    padding:10px;
    background-color:green;
    text-align: center;
    height:50px;
    width:5%;
}
td.my_td {
    padding: 2px!important;
    width: 20px;
}

td.tdspace{
    width: 5%;
    height:10px!important;
}

