{% extends 'teacherbase.html'%}

{% block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">

                {% for i,j in class_score_dict.items %}
                   {{ i }}
                   {{ j }}
                    </br>
                        {% for m,n in j.items%}
                            {{ m }},{{ n }}
                            </br>
                        {% endfor %}
                {% empty %}
                    <p>没有学生</p>
                </tr>
                {% endfor %}
        </table>
        
    </div>

    <div class="col-md-4 col-md-offset-1">

    </div>
</div>
{% endblock %}
